.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.addTodo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

input{
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 5px 15px;
  margin: 0 10px;
  width: 70%;
}

button{
  padding: 8px 12px;
  border: 1px solid rgba(204, 204, 204, 0.5);
  background-color: rgba(144, 238, 144, 0.8);
  font-size: 15px;
}

ul {
  padding: 0;
  list-style-type: none;
  width: 80%;
  min-height: 300px;
}

li{
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
  cursor: pointer;
  min-width: 200px;
}

.deleteItem::after{
  content: '\02A2F';
  color: red;
  font-size: 35px;
  float: right;
  width: 35px;
  height: 40px;
  text-align: center;
}

li:last-child {
  border-bottom: 0px;
}

li.completed {
  background-color: rgba(144, 238, 144, 0.6);
}

span.uncompleted:after{
  content: '\025A1';
  font-size: 28px;
  padding: 4px;
}

span.completed:after{
  content: '\02713';
  font-size: 28px;
  padding: 4px;
  color: green;
}

.container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center
}

a{
  margin: 10px;
}
